.filter-box{
    padding: 30px 0 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filter-box h6{
    font-size: 20px;
    font-weight: 400;
}
.filter-box .category{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.filter-box .category label{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}
.filter-box .category input{
    transform: scale(1.3);
    cursor: pointer;
}