header{
    width: 100dvw;
    box-shadow: 0px 2px 4px #a0a0a0;
    padding: 10px 80px;
    position: relative;
    top: 0;
}
header nav,header nav .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

header nav .logo{
    font-size: 42px;
    margin: 10px;
}

header .menu-container{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
header .menu-container a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}
header .menu-container a.active{
    font-weight: 600;
}
header .right-side{
    display: flex;
    flex-direction: row;
    gap: 28px;
}
header .right-side .cart, header .right-side .user{
    font-size: 32px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #000;
}
header .right-side .cart span{
    position: absolute;
    color: #fff;
    background: #e41010;
    padding: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}