.home-page{
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 20px;
    padding: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 20px;
    margin-top: 35px;
}
.card-container .card{
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px #a0a0a0;
    padding: 20px;
}
.card-container .card img{
    width: 210px;
    height: 210px;
    object-fit: contain;
    display: block;
    margin: auto;
}
.card-container .card .card-body{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card-container .card .card-body .title{
    font-size: 16px;
    font-weight: 500;
    /* width: 240px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-container .card .card-body .price{
    font-size: 14px;
    font-weight: 400;
}
.home-page .card-container .card .card-body .add-btn{
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}
.card-container .card .card-body .button-div{
    display: flex;
    gap: 10px;
}
.card-container .card .card-body .button-div button{
    background: transparent;
    outline: none;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}
.pagination{ 
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: center;
}
.page{
    border: 1px solid #000;
    font-size: 16px;
    width: 35px;
    height: 35px;
    place-items: center;
    display: grid;
    border-radius: 4px;
    cursor: pointer;
}
.page.active{
    background: #000;
    color: #fff;
}
.prevNext{
    width: 80px;
}